<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /laravel10/  # Gantilah "/laravel10/" dengan lokasi aplikasi Anda

    RewriteCond %{REQUEST_URI} !^public/
    RewriteRule ^(.*)(/)?$ public/$1 [L]
</IfModule>
